@charset "UTF-8";
/*
    em HTML é id = em CSS é #
    em HTML é class = em CSS é .
 */
body {
    background-color: #F2F2F2;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    color: #106973;
}
h2{
    color:#F29B9B;
    
}
h1#principal{
    color: #F2F2F2;
    background-color: #F29B9B;
    text-align: center;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.521);
}
.basico{
    color: #F29B9B;
    font-weight: lighter;
}
.intermediario{
    color: #F2CF8D;
    font-weight: normal;
}
.avancado{
    color: #106973;
    font-weight: bold;
}