@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

@font-face {
    font-family: 'angel-wish';
    src: url('fontes/angel-wish.ttf') format('truetype'), url('fontes/angel-wish.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}


body {
    background-image: linear-gradient(to left, #C6A56F, #CED0E3);
}

h1{
    text-align: center;
    color: #5A1BB3;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.5em;
    font-weight: bold;
    background-color: #CED0E3;
}
h2 {
    color: #005C53;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.5em;

}

main{
    border-radius: 10px;
    background-color: white;
    width: 700px;
    padding: 10px;
    box-shadow: 5px 5px 15px #47178a91;
    margin: auto;
    height: 900px;
}