@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-image: linear-gradient(to left, #014034, #0D0D0D);
    
}
main {
    
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #01251fc4;
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1 {
    text-align: center;
    color: #038C73;
    text-shadow: 1px 1px 2px #036d59cc;
}
h2 {
    color: #0D0D0D;
    
}
p {
    text-align: justify;
}